@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: radial-gradient(
    139.92% 98.69% at 86.51% 18.73%,
    #360c70 23.36%,
    #000 62.66%
  );
  min-height: 100vh;
}

.cabecalho {
  display: flex;
  justify-content: space-around;
  padding: 24px;
}

.cabecalho-titulo {
  color: #fff;
  font-family: Righteous;
  font-size: 32px;
  font-weight: 400;
}

.conteudo-principal {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.conteudo-principal-titulo {
  margin-left: 15px;
  margin-bottom: 0px;
  color: #fff2e7;
  font-family: Sarala;
  font-size: 20px;
  font-weight: 400;
}

.conteudo-principal-paragrafo {
  padding: 10px;
  color: #ecd6c4;
  font-family: Sarala;
  font-size: 14px;
  font-weight: 400;
}

.conteudo-final {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  color: #fff;
}

.conteudo-final-titulo {
  display: flex;
  font-size: 32px;
  font-style: oblique;
  justify-content: space-around;
  padding: 24px;
}

.conteudo-final-paragrafo {
  padding: 10px;
  display: flex;
  font-style: italic;
  justify-content: space-around;
  color: #ecd6c4;
  font-family: Sarala;
  font-size: 14px;
  font-weight: 400;
}

/* Responsividade */
@media (max-width: 768px) {
  .cabecalho {
    flex-direction: column;
    align-items: center;
    padding: 16px;
  }

  .titulo-cabecalho {
    font-size: 24px;
    text-align: center;
  }

  .conteudo-titulo {
    font-size: 18px;
    text-align: center;
  }

  .conteudo-paragrafo {
    font-size: 16px;
    text-align: justify;
    padding: 12px;
  }

  section {
    padding: 0 10vw;
  }
}
