@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  background: radial-gradient(
    139.92% 98.69% at 86.51% 18.73%,
    #360c70 23.36%,
    #000 62.66%
  );
  overflow-x: hidden;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.cabecalho-logo {
  height: 60px;
}

.cabecalho-menu {
  display: flex;
  gap: 32px;
  align-items: center; /* Centraliza verticalmente os itens no menu */
}

.cabecalho-menu-item {
  font-family: "Sarala", sans-serif;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
}

.conteudo {
  min-height: calc(100vh - 170px);
  display: block;
  border-top: 0.4px solid;
  color: #fff;
}

.conteudo-principal {
  display: flex;
  flex-direction: row;
  margin-left: 200px;
}

.conteudo-principal-texto {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.conteudo-principal-titulo {
  font-family: "Righteous", cursive;
  font-weight: 400;
  font-size: 48px;
  color: #fff2e7;
}

.conteudo-principal-subtitulo {
  font-family: Sarala, sans-serif;
  font-weight: 400;
  font-size: 32px;
  color: #fff2e7;
}

.conteudo-principal-botao {
  background-color: #ecd6c4;
  width: 150px;
  height: 90px;
  border: none;
  border-radius: 40px;
  color: #3c2325;
  font-family: Sarala;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
}

.conteudo-secundario {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 48px;
}

.conteudo-secundario-titulo {
  margin-top: 130px;
  border-top: 0.4px solid;
  padding-top: 8px;
  color: #fff;
  font-family: Sarala;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 16px;
}

.conteudo-secundario-paragrafo {
  color: #ecd6c4;
  font-family: Sarala;
  font-size: 14px;
  font-weight: 400;
}

.rodape {
  padding: 16px;
  border-top: 0.4px solid;
  color: #fff2e7;
}

.rodape-imagem {
  display: block;
  margin: 0 auto;
  width: clamp(200px, 30vw, 600px);
  height: auto;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .conteudo-principal {
    margin-left: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px; /* Adiciona um espaçamento lateral */
  }

  .cabecalho-menu {
    gap: 16px;
    padding: 0 16px; /* Adiciona um espaçamento lateral */
  }

  .cabecalho-menu-item {
    font-size: 14px;
    white-space: nowrap;
  }

  .conteudo-principal-botao {
    width: 120px;
    height: 70px;
    font-size: 20px;
  }

  /* Ajuste da imagem no rodapé para celulares */
  .rodape-imagem {
    width: 80vw; /* Ajuste o valor conforme necessário */
    max-width: 400px; /* Limite o tamanho máximo da imagem */
    height: auto;
  }
}
